APP_NAME="Story Book Forge Ai"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

# Extra
APP_LOGO=http://127.0.0.1:8000/uploads/icons/app/logo.png
APP_FAVICON=http://127.0.0.1:8000/uploads/icons/app/favicon.png

TIME_ZONE=UTC
DATE_FORMAT=d-M-Y
TIME_FORMAT="g:i:s a"
DATE_TIME_FORMAT="${DATE_FORMAT} ${TIME_FORMAT}"

MEDIA_LIBRARY_IMAGE_DRIVER=gd
MEDIA_LIBRARY_MEDIA_DISK=public
MEDIA_LIBRARY_MEDIA_PREFIX="media-libery"
MEDIA_LIBRARY_ENABLE_VAPOR_UPLOADS=false
MEDIA_LIBRARY_MEDIA_QUEUE_CONNECTION=sync
MEDIA_LIBRARY_QUEUE_CONVERSIONS_BY_DEFAULT=true

ACTIVITYLOG_ENABLED=true
ACTIVITYLOG_DEFAULT_LOG_NAME=default
ACTIVITYLOG_CLEAN_AFTER_DAYS=90
ACTIVITYLOG_BUFFER_ENABLED=false

TINY_MCE_TEXT_EDITOR_LICENSE_KEY="gpl"
CACHE_ENABLE=false

#Vite extra
VITE_APP_VERSION=1.0.0
VITE_APP_NAME="${APP_NAME}"
VITE_APP_URL="${APP_URL}"
VITE_APP_LOGO="${APP_LOGO}"
VITE_APP_FAVICON="${APP_FAVICON}"
VITE_APP_LOCALE="${APP_LOCALE}"
VITE_APP_ENV="${APP_ENV}"

VITE_APP_CACHE_ENABLED=true
VITE_APP_CACHE_TIMEOUT=300000


VITE_DATE_TIME_FORMAT="d-M-Y h:i:s a"
VITE_DATE_FORMAT="d-M-Y"
VITE_TIME_FORMAT="h:i:s a"

VITE_TINY_MCE_TEXT_EDITOR_LICENSE_KEY="${TINY_MCE_TEXT_EDITOR_LICENSE_KEY}"
